<!DOCTYPE html>
<head>
    <style>

    path.link {
        fill: none;
        stroke-width: 1.5px;
    }

    circle {
        stroke: #000;
        stroke-width: 1.5px;
    }

    text {
        fill: #fff;
        font: 10px sans-serif;
        pointer-events: none;
    }

    </style>
    <meta charset="utf-8">
    <title></title>
    <script src="{{ url_for('static', filename='d3.v5.min.js') }}"></script>
</head>

<body>
<script>


// // Something like this should allow us to run the python script every time the center node is switched, which should eliminate having to store/access/sort any massive dataframes
// d3.json('/run_script')
//     .then(data => {
//         if (data.error) {
//         console.error('Error running script:', data.error);
//         } else {
//         console.log('Script output:', data.output);
//         // Use the data to update the visualization
//         }
//     })
//     .catch(error => console.error('Error fetching data:', error));

var center_node = 910;

d3.dsv(",", `/run_script?center_node=${center_node}`, function(d) {
    console.log(d);
    return {
        source: center_node,
        target: +d.index,
        rank: +d.rank,
        artist_name: d.artist_name,
        similarity: +d.weighted_similarity
    }
}).then(function(data) {
    console.log(data);

    var links = data;

    var nodes = {};

    // compute the distinct nodes from the links.
    links.forEach(function(link) {
        link.source = nodes[link.source] || (nodes[link.source] = {index: link.source, rank: link.rank, artist_name: link.artist_name, similarity: link.weighted_similarity});
        link.target = nodes[link.target] || (nodes[link.target] = {index: link.target, rank: link.rank, artist_name: link.artist_name, similarity: link.weighted_similarity});
    });

    nodes = d3.values(nodes);
    console.log(nodes);

    var width = 1200,
        height = 700;

    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height);

    // add the links
    // var path = svg.append("g")
    //     .selectAll("path")
    //     .data(links)
    //     .enter()
    //     .append("path")
    //     .attr("class", function(d) { return "link " + d.type; })
    //     .attr("stroke", function(d) { return d.value === 0 ? "#666" : "green"; })
    //     .attr("stroke-width", function(d) { return d.value === 0 ? 3 : 1; })
    //     .attr("stroke-dasharray", function(d) { return d.value === 1 ? "5,5" : "none"; });

    // define the nodes
    var node = svg.selectAll(".node")
        .data(nodes)
        .enter()
        .append("g")
        .attr("class", "node")
        .on("dblclick", dblclick);

    // add the nodes
    node.append("circle")
        .attr("id", function(d){ return "hello"; })
        .attr("r", 30)
        .attr("fill", "blue")
        .attr("transform", function(d, i) {
            const x = 100 + 120 * d.rank;
            const y = 200;
            return `translate(${x}, ${y})`;
        })

    // // add the labels
    // node.append("text")
    //     .attr("text-anchor", "middle")
    //     .attr("dominant-baseline", "middle")
    //     .text(function(d) { return d.artist_name; });

    // // add the curvy lines
    // function tick() {
    //     path.attr("d", function(d) {
    //         var dx = d.target.x - d.source.x,
    //             dy = d.target.y - d.source.y,
    //             dr = Math.sqrt(dx * dx + dy * dy);
    //         return "M" +
    //             d.source.x + "," +
    //             d.source.y + "A" +
    //             dr + "," + dr + " 0 0,1 " +
    //             d.target.x + "," +
    //             d.target.y;
    //     });

    //     node.attr("transform", function(d) {
    //         return "translate(" + d.x + "," + d.y + ")"; 
    //     });
    // };

    function dblclick(d) {
        pass
        // d3.select(this).select("circle").attr("fill", function(d) { return radiusColorScale(d.degree); });
        // d.fx = null;
        // d.fy = null;    
    };

}).catch(function(error) {
    console.log(error);
});

</script>
</body>
</html>
